.border {
  border: 2px solid black;
}

.body {
  background-color: yellow;
}

.header {
  background-color: blue;
  height: 200px;
}

.nav {
  background-color: green;
}

.content-color {
  background-color: red;
  height: 300px;
}

.aside {
  background-color: lightblue;
  height: 300px;
}

.promo {
  background-color: yellow;
  height: 200px;
}

.footer {
  color: white;
  background-color: black;
}

.bottom {
  visibility: hidden;
}

.green {
  background-color: green;
  height: 200px;
}

.red {
  background-color: red;
  height: 200px;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 800px) {
  .red {
    background-color: blue;
  }
  .green {
    background-color: pink;
  }
}

@media only screen and (max-width: 768px) {
  .red {
    background-color: purple;
  }
  .green {
    background-color: yellow;
  }
}

@media only screen and (max-width: 375px) {
  .red {
    background-color: gray;
  }
  .green {
    background-color: black;
    color: white;
  }

}
